POSTGRES_USER=radioops
POSTGRES_PASSWORD=radioops
POSTGRES_DB=radioops
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

JWT_SECRET=change-me
JWT_ACCESS_MINUTES=60

BOOTSTRAP_ADMIN_EMAIL=admin@local
BOOTSTRAP_ADMIN_PASSWORD=admin

DEFAULT_AGENT_URL=http://localhost:9000
